body{
    max-width: 1020px;
    margin: 0 auto;
}

.color__red{
    color: #f06c64;
}

.header__wrapper{
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    position: relative;
}

h1{
    font-size: 25px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    position: absolute;
    left: 35px;
    top: 40px;
}

li{
    display: inline-block;
}

li::after{
    content: "   ·";
}

.nav-bar__wrapper{
    position: relative;
}

.nav-bar__wrapper>ul{
    position: absolute;
    right: 40px;
    top: 40px;
}

.header__bottom-line{
    height: 6px;
    background-color: #323746;
}

.slider__wrapper{
    height: 594px;
    background-color: #f06c64;
    position: relative;
}

.slider__bottom-line{
    height: 6px;
    background-color: #ea676b;
}

.slider__phone{
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    left: 112px;
    box-shadow: 25px 25px 0px 0px rgba(0,0,0,0.15);
}
.slider__phone-menu-button{
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    position: absolute;
    left: 86px;
    top: 408px;
}
.slider__phone-menu-button>.button{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #bababa;
}
.slider__phone-img{
    width: 188px;
    height: 332px;
    position: absolute;
    top: 63px;
    left: 11px;
    border: 3px solid #c6c6c6;
    overflow: hidden;
    border-radius: 5px;
}

.slider__phone-speaker{
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    top: 36px;
    left: 90px;
}

.slider__phone-cam{
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    position: absolute;
    left: 104px;
    top: 16px;
}

.slider__phone-cam__red-dot{
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #eb5055;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider__phone-img>img{
    position: absolute;
    top: -137px;
    left: -14px;
}

.horizontal{
    transform: rotate(90deg);
    left: 547px;
    box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.15);
}

#img-horizontal{
    transform: rotate(-90deg);
    position: absolute;
    left: -120px;
    top: -123px;
}

.our-service__wrapper{
    height: 495px;
    background-color: #f2f2f2;
    position: relative;
}

.our-service__title{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    position: absolute;
    left: 40px;
    top: 68px;
}

.our-service__text{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    position: absolute;
    top: 115px;
    left: 41px;
}
.our-service__first-column{
    position: absolute;
    left: 39px;
    top: 206px;
}
.our-service__second-column{
    position: absolute;
    top: 206px;
    left: 358px;
}
.our-service__third-column{
    position: absolute;
    left: 678px;
    top: 206px;
}

.our-service__element{
    display: flex;
    width: 300px;
    height: 87px;
    margin-bottom: 36px;
    position: relative;

}

.our-service__element-info{
    position: absolute;
    top: 12px;
    left: 80px;
}

.our-service__element-title{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.our-service__element-text{
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    position: absolute;
    top: 28px;
    left: 2px;
}

.our-service__bottom-line{
    height: 6px;
    background-color: #ffffff;
}