@import "./fonts.css";

body{
    max-width: 1020px;
    margin: 0 auto;
}

.color__red{
    color: #f06c64;
}

.header__wrapper{
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    position: relative;
}

h1{
    font-size: 24px;
    line-height: 6px;
    font-family: "Lato-Bold";
    position: absolute;
    left: 40px;
    top: 40px;
}

.nav-bar__wrapper{
    position: relative;
}

.nav-bar__wrapper>ul{
    position: absolute;
    right: 13px;
    top: 40px;
}
.nav-bar__wrapper>ul>li{
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato-Bold";
    text-align: left;
    display: inline-block;
    margin-right: 25px;
}

.header__bottom-line{
    height: 6px;
    background-color: #323746;
}

.slider__wrapper{
    height: 594px;
    background-color: #f06c64;
    position: relative;
}

.slider__to__left{
    position: absolute;
    left: 43px;
    top: 281px;
    opacity: .2;
}

.slider__to__right{
    position: absolute;
    right: 40px;
    top: 280px;
    opacity: .2;
}

.slider__bottom-line{
    height: 6px;
    background-color: #ea676b;
}

.slider__phone{
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    left: 112px;
    box-shadow: 25px 25px 0px 0px rgba(0,0,0,0.15);
}
.slider__phone-menu-button{
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    position: absolute;
    left: 86px;
    top: 408px;
}
.slider__phone-menu-button>.button{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #bababa;
}
.slider__phone-img{
    width: 188px;
    height: 332px;
    position: absolute;
    top: 63px;
    left: 11px;
    border: 3px solid #c6c6c6;
    overflow: hidden;
    border-radius: 5px;
}

.slider__phone-speaker{
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    top: 36px;
    left: 90px;
}

.slider__phone-cam{
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    position: absolute;
    left: 104px;
    top: 16px;
}

.slider__phone-cam__red-dot{
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #eb5055;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider__phone-img>img{
    position: absolute;
    top: -137px;
    left: -14px;
}

.horizontal{
    transform: rotate(90deg);
    left: 547px;
    box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.15);
}

#img-horizontal{
    transform: rotate(-90deg);
    position: absolute;
    left: -120px;
    top: -123px;
}

.our-service__wrapper{
    height: 495px;
    background-color: #f2f2f2;
    position: relative;
}

.our-service__title{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-BLack";
    text-align: left;
    position: absolute;
    left: 40px;
    top: 68px;
}

.our-service__text{
    width: 950px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light";
    text-align: left;
    position: absolute;
    top: 113px;
    left: 40px;
}
.our-service__first-column{
    position: absolute;
    left: 39px;
    top: 206px;
}
.our-service__second-column{
    position: absolute;
    top: 206px;
    left: 358px;
}
.our-service__third-column{
    position: absolute;
    left: 678px;
    top: 206px;
}

.our-service__element{
    display: flex;
    width: 300px;
    height: 87px;
    margin-bottom: 36px;
    position: relative;

}

.our-service__element-info{
    position: absolute;
    top: 12px;
    left: 80px;
}

.our-service__element-title{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    text-align: left;
}

.our-service__element-text{
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular";
    text-align: left;
    position: absolute;
    top: 28px;
    left: 2px;
}

.our-service__bottom-line{
    height: 6px;
    background-color: #ffffff;
}

.portfolio__wrapper{
    position: relative;
    height: 862px;
    background-color: #2d303a;
    width: 100%;
}

.portfolio__title{
    font-size: 30px;
    position: absolute;
    left: 40px;
    top: 61px;
    color: #666d89;
    font-family: "Lato-Black";
    text-align: left;
}

.portfolio__text{
    position: absolute;
    left: 40px;
    top: 113px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light";
    text-align: left;
}

.portfolio-filter{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular";
    text-align: left;
    left: 35px;
    top: 152px;
}
.portfolio-filter>li:first-child{
    color: #DEDEDE;
    border-color: #DEDEDE;
}

.portfolio-images__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    left: 40px;
    top: 194px;
}

.portfolio-filter>li{
    margin: 0px 4px;
    padding: 0px 7px;
    border-radius: 5px;
    border: 1px solid #666d89;
}

.portfolio-images-column>li{
    width: 221px;
    height: 188px;
    background-color: #464b5e;
    margin: 0 19px 19px 0;
}

.portfolio__bottom-line{
    height: 6px;
    background-color: #323746;
    width: 100%;
}

.about-us__wrapper{
    height: 728px;
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
}

.about-us__title{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    text-align: left;
    position: absolute;
    top: 68px;
    left: 41px;
}

.about-us__text{
    width: 950px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light";
    text-align: left;
    position: absolute;
    top: 113px;
    left: 41px;
}

.about-us__columns{
    display: flex;
    justify-self: center;
    text-align: center;
    flex-direction: row;
    position: absolute;
    left: 39px;
    top: 218px;
}

.about-us__columns>li{
    margin-right: 10px;
}

.about-us__columns-title{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    text-align: left;
    margin-top: 17px;
}

.about-us__columns-text{
    width: 310px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular";
    text-align: left;
    margin-top: 9px;
}

.social-network{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-left: 2px;
}

.social-network>li{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #666d89;
    margin-right: 8px;
}

.social-network>li>img{
    margin-top: 8px;
}

.about-us__img{
    width: 300px;
    height: 300px;
    background-color: #464b5e;
    overflow: hidden;
}

.about-us__bottom-line{
    height: 6px;
    width: 100%;
    background-color: #ffffff;
}

.get-a-quote__wrapper{
    height: 648px;
    width: 100%;
    background-color: #f06c64;
    position: relative;
}

.get-a-quote__title{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    text-align: left;
    position: absolute;
    left: 40px;
    top: 68px;
}

.get-a-quote__text{
    width: 950px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    text-align: left;
    position: absolute;
    left: 40px;
    top: 113px;
}

.input-area{
    display: flex;
    flex-direction: column;
    width: 620px;
    position: absolute;
    left: 40px;
    top: 217px;
}

input{
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    border: none;
    color: white;
    font-family: "Lato-Regular";
}

.big-text-area{
    height: 195px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    border: none;
    font-family: "Lato";
    resize: none;
    padding-top: 7px;
}

.input-text{
    font-size: 12px;
    line-height: 22px;
    color: white;
    font-family: "Lato-Regular";
    padding-left: 16px;
}

.get-a-quote__contact-area{
    position: absolute;
    right: 34px;;
    top: 217px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-Regular";
    text-align: left;
}

.get-a-quote__contact-area>p{
    width: 305px;
    margin-top: 9px;
}

.get-a-quote__contact-area>ul{
    margin-top: 20px;
}

.get-a-quote__contact-area>ul>li>img{
    margin-right: 11px;
}

.send-button{
    width: 100px;
    background-color: #ea676b;
    color: #f0d8d9;
    border-radius: 5px;
    font-family: 'Lato-Black';
    height: 30px;
    margin: 20px;
}

.get-a-quote__contact-area__title{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    text-align: left;
}

.get-a-quote__bottom-line{
    height: 6px;
    width: 100%;
    background-color: #EA676B;

}

.footer__wrapper{
    height: 76px;
    width: 100%;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.footer-text{
    margin-top: 34px;
    margin-left: 41px;
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "Lato-Regular";
    text-align: left;
}

.social-network-footer{
    margin-right: 33px;
}

.social-network-footer>li>img{
    margin-left: 10px;
}

::-webkit-input-placeholder {
    color: #f48c8f;
  }
::-moz-placeholder {
    color: #f48c8f;
  }
:-ms-input-placeholder {
    color: #f48c8f;
  }
:-moz-placeholder {
    color: #f48c8f;
  }